<ion-view view-title="{{product.name || 'Post Title'}}"
          ng-style="{'background-image': 'url(' + product.background + ')'}" on-swipe-left="swipeLeft()">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-arrow-left-c"
                ng-click="goBack()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-more" ng-click="doSomething()">
        </button>
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-subheader transperant">
        <img class="image-responsive" ng-src="{{type.image}}"/>
        <div class="swipe-helper"></div>
        </ion-header-bar>
    <ion-content padding="true">

    </ion-content>
    <ion-footer-bar class="bar bar-subfooter transperant">
        <ion-scroll direction="x" class="wide-as-needed">

            <a ng-click="changeBackground(image, $index)" ng-repeat="image in product.images" ng-hide="hidden[$index]">
                <img class="item-thumbnail-left" ng-src="{{image}}">
            </a>

        </ion-scroll>
    </ion-footer-bar>
</ion-view>